registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 依赖提升
shamefully-hoist=true

# 严格模式
strict-peer-dependencies=false
